{% extends "layout.html" %}

{% block content %}
<div class="container">
        <header>
            <div class="header-nav">
                <h1 class="logo">SnackJohn</h1>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Uses</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <a href="#" class="nav-btn1">Log in</a>
                <a href="#" class="nav-btn2">Sign in</a>

            </div>
            <div class="banner">
                <div>
                    <h2 class="banner-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, deserunt molestias quis earum dolores quod!</h2>
                    <p class="banner-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nemo harum labore inventore praesentium perspiciatis?</p>
                </div>

                <a class="banner-btn">Get Started</a>
            </div>
        </header>
    </div>
{% endblock %}
